In [2]:
from mysql.connector import connect, Error

### Connecting to MySQL Server

In [3]:
cnxServer=connect(host="127.0.0.1", user="root", password="user")

cursorServer=cnxServer.cursor()

### Connecting to MySQL Database

In [26]:
cnxDB=connect(host="127.0.0.1", database="companydb", user="root", password="user")

cursorDB=cnxDB.cursor()

### Creating a MySQL Database

In [4]:
sql_query="CREATE DATABASE companydb"
cursorServer.execute(sql_query)

cursorServer.execute("SHOW DATABASES")
resultDB=cursorServer.fetchall()

for item in resultDB:
    print(item)

('information_schema',)
('company',)
('companydb',)
('mysql',)
('performance_schema',)
('schooldb',)
('sys',)

## Manipulating Tables
In this section, you'll learn to:
1. Create a tables
2. Insert elements in a table
3. Modify elements of a table
4. Delete rows from a table

In [7]:
tb_query="CREATE TABLE employee(id VARCHAR(10), name VARCHAR(255), position VARCHAR(25), experience INT(2))"

cursorDB.execute(tb_query)

In [8]:
tb_query="INSERT INTO employee(id, name, position, experience) VALUES(%s, %s, %s, %s)"
val=[
    ('IT00056', 'Ali Bouba', 'Junior AI Engineer', 3),
    ('IT00057', 'Judith Ebong', 'Junior Software Engineer', 2),
    ('IT00058', 'Brenda Ngono', 'Senior Data Scientits', 10),
    ('AD00034', 'Isabelle OSHI', 'Accountant', 5),
    ('AD00035', 'Pascal Voundi', 'Accountant', 3)]

cursorDB.executemany(tb_query, val)
cnxDB.commit()

In [9]:
tb_query="UPDATE employee SET position=%s WHERE id=%s"

val=[('Senior AI Engineer', 'IT00056'),('Managing Director', 'AD00034')]

cursorDB.executemany(tb_query, val)
cnxDB.commit()

In [27]:
cursorDB.execute("SELECT name, position FROM employee WHERE experience > 2")
resultDB=cursorDB.fetchall()

for item in resultDB:
    print(item[0],"has more than 2 years of experience as ", item[1])

Ali Bouba has more than 2 years of experience as  Senior AI Engineer
Brenda Ngono has more than 2 years of experience as  Senior Data Scientits
Isabelle OSHI has more than 2 years of experience as  Managing Director
Pascal Voundi has more than 2 years of experience as  Accountant

In [15]:
cursorDB.execute("DELETE FROM employee WHERE experience = 2")
cnxDB.commit()

In [28]:
cursorDB.execute("SELECT * FROM employee")
resultDB=cursorDB.fetchall()

for item in resultDB:
    print(item)

('IT00056', 'Ali Bouba', 'Senior AI Engineer', 3)
('IT00058', 'Brenda Ngono', 'Senior Data Scientits', 10)
('AD00034', 'Isabelle OSHI', 'Managing Director', 5)
('AD00035', 'Pascal Voundi', 'Accountant', 3)